# Dataload, Clean & Look at Distributions

---

Import the libraries required for this notebook to analyse and clean the data and visualise distributions

In [1]:
# import python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

---

## Import and check the data

Import the mental_health_social_media_dataset_raw.csv file in to a pandas dataframe:

In [3]:
# load raw dataset
df_raw = pd.read_csv("../data/mental_health_social_media_dataset_raw.csv")

View the first 10 rows of the file:

In [4]:
# display first 10 rows of the dataset
df_raw.head(10)

,person_name,age,date,gender,platform,daily_screen_time_min,social_media_time_min,negative_interactions_count,positive_interactions_count,sleep_hours,physical_activity_min,anxiety_level,stress_level,mood_level,mental_state
0,Reyansh Ghosh,35,1/1/2024,Male,Instagram,320,160,1,2,7.4,28,2,7,6,Stressed
1,Neha Patel,24,1/12/2024,Female,Instagram,453,226,1,3,6.7,15,3,8,5,Stressed
2,Ananya Naidu,26,1/6/2024,Male,Snapchat,357,196,1,2,7.2,24,3,7,6,Stressed
3,Neha Das,66,1/17/2024,Female,Snapchat,190,105,0,1,8.0,41,2,6,6,Stressed
4,Reyansh Banerjee,31,1/28/2024,Male,Snapchat,383,211,1,2,7.1,22,3,7,6,Stressed
5,Myra Kale,25,2/8/2024,Female,Snapchat,516,284,1,3,6.4,8,3,8,5,Stressed
6,Ananya Kulkarni,29,2/19/2024,Other,Snapchat,328,180,1,2,7.4,27,3,7,6,Stressed
7,Meera Das,28,1/11/2024,Female,Facebook,394,138,1,1,7.0,21,2,7,6,Stressed
8,Vihaan Naidu,31,1/22/2024,Male,Facebook,326,114,0,1,7.4,27,2,6,6,Stressed
9,Meera Patil,26,2/2/2024,Female,Facebook,339,119,0,1,7.3,26,2,6,6,Stressed

Check the shape of the dataframe:

In [6]:
df_raw.shape

(5000, 15)

There are 5000 rows of data and 15 columns.

Check summary of inital raw data:

In [5]:
before_summary = pd.DataFrame({
    "dtype": df_raw.dtypes,
    "missing_values": df_raw.isnull().sum(),
    "non_missing": df_raw.notnull().sum(),
    "unique_values": df_raw.nunique()
})
before_summary

,dtype,missing_values,non_missing,unique_values
person_name,object,0,5000,891
age,int64,0,5000,57
date,object,0,5000,686
gender,object,0,5000,3
platform,object,0,5000,7
daily_screen_time_min,int64,0,5000,342
social_media_time_min,int64,0,5000,304
negative_interactions_count,int64,0,5000,3
positive_interactions_count,int64,0,5000,5
sleep_hours,float64,0,5000,19
physical_activity_min,int64,0,5000,36
anxiety_level,int64,0,5000,4
stress_level,int64,0,5000,5
mood_level,int64,0,5000,4
mental_state,object,0,5000,3

There are no missing values, so no need to handle any missing data and all the columns have lower snake case names so no need to rename any columns.