# EDA - Exploratory Data Analysis
---

Import libraries:

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import matplotlib.gridspec as gridspec
import plotly.express as px

---

## Import cleaned data parquet file

Import the cleaned data that was the outut of the 1st notebook

View the dataframe as a refresher of what we are dealing with

In [2]:
df = pd.read_parquet("../data/mental_health_social_media_dataset_cleaned.parquet")

df.head()

,date,year,month,month_name,week_number,day_of_week,age,age_group,gender,platform,...,sleep_hours,physical_activity_min,negative_interactions_count,positive_interactions_count,interaction_total,interaction_negative_ratio,anxiety_level,stress_level,mood_level,mental_state
0,2024-01-01,2024,1,Jan,1,Monday,35,35-44,Male,Instagram,...,7.4,28,1,2,3,0.333333,2,7,6,Stressed
1,2024-01-12,2024,1,Jan,2,Friday,24,18-24,Female,Instagram,...,6.7,15,1,3,4,0.250000,3,8,5,Stressed
2,2024-01-06,2024,1,Jan,1,Saturday,26,25-34,Male,Snapchat,...,7.2,24,1,2,3,0.333333,3,7,6,Stressed
3,2024-01-17,2024,1,Jan,3,Wednesday,66,55+,Female,Snapchat,...,8.0,41,0,1,1,0.000000,2,6,6,Stressed
4,2024-01-28,2024,1,Jan,4,Sunday,31,25-34,Male,Snapchat,...,7.1,22,1,2,3,0.333333,3,7,6,Stressed